# Build files
analysis_tools_cython.c*
build

# old Kepler files
archive_analyse.sh

# Data folders
results
tess2018206045859-s0001-0000000024265755-0120-s_lc.fits
tess_SPOC/
tess_testlcs/
betapic/
kepler/

# output files
output_s*


# Temp vim files
*.swp

# other
.DS_Store
.ipynb_checkpoints/

.idea/
Kepler/
__pycache__/
figs/lightcurve.ipynb
lightcurve.ipynb
mastDownload/
maxsector.py
tess/
MAD figs/
Notebooks/mastDownload
kplr003542116-2012088054726_llc.fits
notebooks/Untitled.ipynb
old_kepler_files/
tess2018206190142-s0001-s0006-0000000270577175-00196_dvt.fits

# data
