# Build files
analysis_tools_cython.c*
build

# Data folders
light_curves
results

# Temp vim files
*.swp

# other
.DS_Store
.ipynb_checkpoints/

.idea/
Kepler/
__pycache__/
figs/lightcurve.ipynb
lightcurve.ipynb
mastDownload/
maxsector.py
tess/
MAD figs/
